{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Create Task</h1>
            {{error}}
            <form action="/task/create/" method ="POST">
            {% csrf_token %} 
            <div>
                {{form}}
            </div>
            <button class="btn btn-primary">
                Save
            </button>    
            </form>            
        </div>
    </div>
</main>


{% endblock %}
