{% extends 'base.html' %} 
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method = "POST" class="card card-body">

                {{error}} 
                {% csrf_token %}  <!– Esto es un token –>
                
                <h1 class="text-center">Signin</h1>
                
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Write your username">
                </div>
            
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="text" name="password" id="password" class="form-control" placeholder="Write your password">
                </div>
            
                <div>
                    <button class="btn btn-primary">
                        Signin
                    </button>
                </div>
            
            </form>
        </div>
    </div>
</main>

{% endblock %}